:root {
  --md-primary-fg-color:               hsla(16, 100%, 42%, 1);
  --md-primary-fg-color--light:        hsla(16, 100%, 64%, 1);
  --md-primary-fg-color--dark:         hsla(16, 100%, 28%, 1);
  --md-typeset-a-color:                 var(--md-accent-fg-color--transparent)   
  --md-accent-fg-color:                hsla(196, 100%, 44%, 1);
  --md-accent-fg-color--transparent:   hsla(196, 100%, 44%, 0.1);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:  #121212;
  --md-accent-fg-color:     hsla(16, 100%, 42%, 1);
  --md-primary-bg-color:    #FFA98A;
  --md-typeset-a-color:     #FFA98A;
  --md-hue:                 213;
}

.md-search-result__meta {
  /* background-color: var(--md-default-fg-color); */
  color: var(--md-typeset-color);
}